<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIrIoGlulN4uDH_AjW5DQW5mS9PpleAcA</string>
	<key>GCM_SENDER_ID</key>
	<string>975004551922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alirezaiyan.Kalendar</string>
	<key>PROJECT_ID</key>
	<string>kalendar-5ec37</string>
	<key>STORAGE_BUCKET</key>
	<string>kalendar-5ec37.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975004551922:ios:4ee8edc94ba65200189e6b</string>
	<key>CLIENT_ID</key>
	<string>975004551922-4ee8edc94ba65200189e6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975004551922-4ee8edc94ba65200189e6b</string>
	<key>IS_MEASUREMENT_ENABLED</key>
	<false></false>
	<key>IS_AUTOMATIC_COLLECTION_ENABLED</key>
	<false></false>
	<key>IS_CRASHLYTICS_ENABLED</key>
	<false></false>
	<key>IS_REMOTE_CONFIG_ENABLED</key>
	<false></false>
	<key>IS_FIREBASE_APP_DISTRIBUTION_ENABLED</key>
	<false></false>
	<key>IS_CLOUD_MESSAGING_ENABLED</key>
	<true></true>
</dict>
</plist>